.App {
  padding-top: 50px;
  min-width: 800px;
  margin: 0 auto;
  width: calc(100% - 60%);
  height: 100%;
}

.container {
  height: 100%;
}

.element {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid green;

  &__header p {
    font-size: 18px;
    margin-bottom: 5px;
  }

  &__text p {
    font-size: 36px;
    margin: 0;
    padding-bottom: 5px;
  }

  &__tags p {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.title {
  font-size: 24px;
}

.article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-size: 18px;
  border: 2px solid red;
}