.App {
  padding-top: 50px;
  min-width: 800px;
  margin: 0 auto;
  width: calc(100% - 60%);
  height: 100%;
}

.container {
  height: 100%;
}

.element {
  margin-top: 50px;
  margin-bottom: 50px;

  &__text p {
    font-size: 24px;
    margin: 0;
    padding-bottom: 5px;
  }

  &__tags {
    transform: translate3d(0, -40px, 0);
  }
}

.title {
  font-size: 24px;
}

.article {
  height: 100vh;
}